# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs/GreetingsConsoleApp/v15
/.vs/GreetingsConsoleApp/v15/ipch/GREETINGSCONSOLEAPP-24da19a4
*.ipch
*.suo
*.db
*.opendb
/.vs/GreetingsConsoleApp/v15
